* {
  margin: 0;
  padding: 0;
  font-family: "Segoe UI";
}

.infinite-scroll-component__outerdiv {
  width: 100%;
}

.infinite-scroll-component {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-around;
  overflow: visible !important;
}
